/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import '~@angular/material/theming';

@include mat-core();
body {
  margin: 0px!important;
  font-family: Arial, Helvetica, sans-serif;
}

mat-form-field.mat-form-field.mat-form-field-appearance-outline > div.mat-form-field-wrapper > div.mat-form-field-flex > div.mat-form-field-infix  {
   padding-bottom: 0.4em;
   padding-top: 0.2em;
   padding-left: 0px;
   padding-right: 0px;
   font-size: 12px;
   font-weight: 500;
}
mat-form-field.mat-form-field.mat-form-field-appearance-outline > div.mat-form-field-wrapper > div.mat-form-field-flex > div.mat-form-field-infix > span.mat-form-field-label-wrapper { top: -1.6em; }

.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.1em) scale(.75);
    width: 133.33333%;
}

.mat-raised-button {
  line-height: 25px !important;
}
mat-form-field {
  width: 100%;
}
tr.mat-row, tr.mat-footer-row {
  height: 32px!important;
  font-size: 12px!important;
  font-weight: 500!important;
}
.mat-menu-item {
  height: 25px!important;
  line-height: 25px!important;
}
